.App {
  text-align: center;
}

body {
  background-color: whitesmoke;
  font-family: Roboto;
  margin: 16px;
}

.mobile-container{
  background-color: white;
  width: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 24%) 1px 2px 13px;
}

.mobile-pic{
  height: 300px;
  width: 350px;
  object-fit: contain;
}

.mobile-model{
  padding: 16px;
  font-size: 48px;
  margin-bottom: 0px;
}

.mobile-company{
  font-size: 32px;
  color: grey;
  margin-top: 0px;
}

.mobile-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin: 24px;
}